/* ------------------------Header and Navigation Styles----------------------------- */
.logo {
    width: 200px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    justify-content: space-between;
    margin: 0 70px 0 0;
    font-size: 25px;
    transition-duration: 0.6s;
}

nav {
    padding: 40px;
    margin-top: 15px;
}

nav a:hover{
    color: #ee6e12;
}

header {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}

/*------------------------------ Body and Center of the Page Styles----------------------- */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: auto;
}


.logoside{
    background-image: url(../images/extra/tiramisu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;

}

.logo_img{
    margin-top: 50px;
    margin-left: 30px;
}


.form_signup{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Cinzel;
    font-size: 20px;
    margin-left: 30px;
    align-items: center;
}


.container_signup{
    display: flex;
    flex-direction: row;
}

input[type="text"], input[type="email"], input[type="password"]{
    border-radius: 15px;
    border: none;
    width: 290px;
    padding: 5px;
    margin: 5px;
}

.log_in{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

button{
    border: none;
    margin: 5px;
    border-radius: 15px;
    font-family: 'Bebas Neue';
    width: max-content;
    font-size: 18px;
    transition-duration: 0.6s;
}

button:hover{
    color: #ee6e12;
}

/* -----------------------------Font Styles -------------------------------------*/
@font-face {
    font-family: 'Agbalumo';
    src: url('font-family/Agbalumo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('font-family/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('font-family/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Caveat';
    src: url('font-family/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'KdamThmor';
    src: url('font-family/KdamThmorPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    src: url('font-family/Cinzel-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'SpecialElite';
    src: url('font-family/SpecialElite-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AkayaKanadaka';
    src: url('font-family/AkayaKanadaka-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LuckiestGuy';
    src: url('font-family/LuckiestGuy-Regular.ttf') format('truetype');
}